h1{
    font-size: 50px;
    color: rgb(14, 176, 235);
}
/* c-css-child{
    display: block;
    color: white;
    background-color: brown;
} */

p{
    color:gold;
    background-color: black;
    
  }